* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* overflow-y: scroll; */
}
body {
  font-family: "Raleway", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

main {
  /* overflow: hidden; */
}
a {
  text-decoration: none;
  cursor: pointer;
}
.main__section--bienvenida {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* parte de las secciones */
#section1 {
  width: 100%;
  height: 100vh;
  background-color: #d4e2d4;
}
.section1__container {
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  height: 100%;
}
.section1__container h1 {
  /* padding-left: 3rem; */
  margin-bottom: 1rem;
}
.section1__container p {
  font-size: 1.2em;
}
.section1__container--title {
  padding-top: 1rem;
}
.section1__container--title h1 {
  font-size: 7vw;
}
.section1__container--subtitles {
  vertical-align: top;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  align-self: flex-start;
  word-wrap: break-word;
  display: inline-block;
  width: 50%;
}

@media screen and (min-width: 1001px) {
  .header span,
  .closebtn {
    display: none;
  }
  .ul {
    position: fixed;
    left: 1.76471rem;
    bottom: 1.76471rem;
    z-index: 100;
    display: inline-block;
    background-color: #efefef;
    border-radius: 5px;
    padding: 0.98824rem;
  }
  .ul__li {
    display: inline-block;
  }
}
@media screen and (max-width: 1000px) {
  .section1__container p {
    font-size: 2.4vw;
  }

  .header span {
    position: fixed;
    top: 15px;
    right: 20px;
    width: 48px;
    height: 30px;
    color: #fff;
    mix-blend-mode: difference;
    z-index: 2100;
  }

  .header__nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2200;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .ul {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .header__nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .header__nav a:hover,
  .header__nav a:focus {
    color: #f1f1f1;
  }

  .header__nav .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .swiper-button-next,.swiper-button-prev{
    display: none !important;
  }

  @media screen and (max-height: 450px) {
    .header__nav a {
      font-size: 20px;
    }
    .header__nav .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}

.texto {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 0.8em 1.2em;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.texto__h1 {
  font-family: "Potta One", cursive;
  color: #0f1123;
  font-size: 5em;
}
.sliding-background {
  background: url("../assets/background1.jpg") repeat-x;
  background-size: cover;
  height: 100vh;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

/* section1 prueba y error responsive*/
.section1__container hr{
  height: 0;
  background-color: rgb(0, 0, 0);
  border-top: 1px double #333;
}

.section1__container-all {
  padding: 0;
  list-style: none;
  margin: 0;
  font-size: 0;
  display: inline-block;
}
.section1__containter--content {
  display: inline-block;
  width: 50%;
  float: right;
  font-size: x-large;
}

/* resoluciones de pantalla */
@media (max-width: 1500px) {
  .section1__container--subtitles {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
  .section1__container--subtitles p {
    font-size: 1em;
  }
  .section1__container--subtitles--p2 {
    width: 100%;
    font-weight: bolder !important;
    font-size: 0.6em !important;
  }
  .section1__containter--content {
    margin-top: 1.5rem;
    float: none;
    display: block;
    width: 100%;
  }
  .section1__containter--content p {
    font-size: 2rem;
  }
}
@media (max-width: 880px) {
  .section1__container--subtitles {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
  .section1__container--subtitles p {
    font-size: 1em;
  }
  .section1__container--subtitles--p2 {
    width: 100%;
    font-weight: bolder !important;
    font-size: 0.6em !important;
  }
  .section1__containter--content {
    margin-top: 1.5rem;
    float: none;
    display: block;
    width: 100%;
  }
  .section1__containter--content p {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .section1__container--subtitles p {
    font-size: 1em;
  }
  .section1__container--subtitles--p2 {
    width: 100%;
    font-weight: bolder !important;
    font-size: 0.8em !important;
  }
  .section1__containter--content {
    margin-top: 1.5rem;
    float: none;
    display: block;
    width: 100%;
  }
  .section1__containter--content p {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 721px) {
  .section1__container--subtitles p {
    font-size: 1em;
  }
  .section1__container--subtitles--p2 {
    width: 100%;
    font-weight: bolder !important;
    font-size: 0.8em !important;
  }
  .section1__containter--content {
    margin-top: 1.5rem;
    float: none;
    display: block;
    width: 100%;
  }
  .section1__containter--content p {
    font-size: 1.2rem;
  }
}
@media (max-width: 280px) {
  .section1__container--subtitles {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
  .section1__container--subtitles p {
    font-size: 0.5em !important;
  }
  .section1__container--subtitles--p2 {
    width: 100%;
    font-weight: bolder !important;
    font-size: 0.222em !important;
  }
  .section1__containter--content {
    margin-top: 1.5rem;
    float: none;
    display: block;
    width: 100%;
  }
  .section1__containter--content p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 412px) {
  .section1__container--subtitles {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
  .section1__container--subtitles p {
    font-size: 0.7em;
  }
  .section1__container--subtitles--p2 {
    width: 100%;
    font-weight: bolder !important;
    font-size: 0.333em !important;
  }
  .section1__containter--content {
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5rem;
    float: none;
    display: block;
    width: 50%;
  }
  .section1__containter--content p {
    font-weight: bolder;
    font-size: 0.8rem;
  }
  /* estilos responsive section 2 */
  .section2__text--kobido{
    font-size: 0.6em;
  }
  .section2__text--pies{
    font-size: 0.75em ;
  }
  .img-section2--pies,.img-section2--profundo,.img-section2--cabeza{
    margin: 0 !important;
  }
  .section2__text{
    align-self: center;
    width: 100vh;
    margin: 0 !important;
  }
}


@media (max-width: 360px) {
  .section1__container--subtitles {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
  .section1__container--subtitles p {
    font-size: 0.4em;
  }
  .section1__container--subtitles--p2 {
    width: 100%;
    font-weight: bolder !important;
    font-size: 0.333em !important;
  }
  .section1__containter--content {
    margin-top: 1.5rem;
    float: none;
    display: block;
    width: 100%;
  }
  .section1__containter--content p {
    font-size: 1rem;
  }
  .section2__text p{
    line-height: 1.47059;
    color: #fefefe;
    font-size: 0.9rem ;
  }
}
@media (max-width: 540px) {
  .section1__container--subtitles {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
  .section1__container--subtitles p {
    font-size: 0.7em;
  }
  .section1__container--subtitles--p2 {
    width: 100%;
    font-weight: bolder !important;
    font-size: 0.333em !important;
  }
  .section1__containter--content {
    margin-top: 1.5rem;
    float: none;
    display: block;
    width: 100%;
  }
  .section1__containter--content p {
    font-size: 1.2rem;
  }

}



/* section 2  prueba y error*/
#section2 {
    width: 100%;
    height: 100vh;
    background-color: #252525;
    /* display: flex; */
    /* flex-flow: row-reverse wrap; */
    padding: 5rem 3rem;
  
}

.flex-container {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}
.section2__container--img {
  margin: 1em 2em 0 0;
  align-self: flex-end;
}
.img-section2 {
  width: 100%;
  max-width: 250px;
  height: auto;
}
.img-section2--pies,.img-section2--profundo,.img-section2--cabeza{
  width: 100%;
  max-width: 250px;
  margin-bottom: 100px;
}
.section2__title {
  align-self: center;
}
.section2__title h1 {
  color: #fefefe;
  font-size: 7vw;
  font-weight: 200;
  align-self: flex-start;
}
.section2__text{
    align-self: center;
    width: 100vh;
    margin: 0 auto;
}
.section2__text p{
    line-height: 1.47059;
    color: #fefefe;
    font-size: 1rem;
    word-wrap:break-word;
}
.section2__text {
  white-space: normal;
}

.section2__headline{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.section2__headline h1{
    align-self: flex-start;
    margin-bottom: 1rem;
    color: #fefefe;
}
.section2__headline hr{
  height: 0;
  background-color: #fafafa;
}
.swiper-button-next{
  color: green;
}
.swiper-button-next,.swiper-button-prev{
  color: #f6f6f6 !important;
}
.mucho-text{
  font-size: 4.3vw !important;
}
.swiper-wrapper{
    /* display: flex;
    flex-flow: row-reverse wrap; */
}
.swiper-slide{
    display: flex;
    flex-flow: row-reverse wrap;
}
@media screen and (max-width: 1980px) {
  .section2__text--kobido{
    font-size: 2rem;
  }
  .section2__text--pies{
    font-size: 1rem;
  }
  .section2__text p{
    line-height: 1.47059;
    color: #fefefe;
    font-size: 2rem;
  }
  /* .section1__containter--content p {
    font-weight: bolder;
    font-size: 1.6em;
  } */
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
   .section2__text p{
    font-size: 2em;
  }
  .section2__text--inka{
    font-size: 1.2rem !important;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .section2__text--inka{
    font-size: 0.95rem !important;
  }
}


@media screen and (max-width: 1600px){
  .section2__text p{
    line-height: 1.47059;
    color: #fefefe;
    font-size: 1rem ;
  }


}


@media screen and (max-width: 380px) {
  .section1__container--subtitles {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
  .section1__container--subtitles p {
    font-size: 0.4em;
  }
  .section1__container--subtitles--p2 {
    width: 100%;
    font-weight: bolder !important;
    font-size: 0.333em !important;
  }
  .section1__containter--content {
    margin-top: 1.5rem;
    float: none;
    display: block;
    width: 100%;
  }
  .section1__containter--content p {
    font-size: 0.9rem ;
  }
  .section2__text p{
    line-height: 1.47059;
    color: #fefefe;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 380px ),(max-height: 500px) {
  .section2__text p{
    line-height: 1.47059;
    color: #fefefe;
    font-size: 0.7rem;
  }
  .section2__text--kobido,.section2__text--pies{
    font-size: 0.6rem !important;
  }
}

@media (max-width: 320px) {
  .section1__containter--content p {
    font-size: 0.7rem;
  }
}
@media (max-width: 280px) {
  .section2__text p{
    line-height: 1.47059;
    color: #fefefe;
    font-size: 0.8rem;
  }
}

#section3{
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
}
.section3__practice{
  background-color: #010101;
  min-width: 260px;
  height: 280px;
  margin: 3px;
  flex-grow: 1;
}
.klok{
  background-color: blue;
  margin-top: auto;

}



/* //Page scrolling snippet (http://codepen.io/tobiasdev/pen/qNdrBZ):
Para la animación de secciones en el scroll */

.tab {
  padding: 0.58824rem 1.17647rem;
  line-height: 1;
  vertical-align: middle;
  color: #333333;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
}
.active-tab {
  background-color: #010101;
  border-radius: 10px;
  color: #fafafa !important;
}

/* .indicator {
    position: relative;
    width: 100%;
    height: 3px;
    background: #F6BB42;
}
  
.indicator-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: #FDE3A7;
    transition:
        width ease .3s,
        left cubic-bezier(.4,.95,.5,1.5) .5s;
} */
